html, body {
  padding: 0;
  margin: 0; 
width: 100%;
height: 100%;}

body {
  font-size: 18px;
  font-family:  'Open Sans Condensed', 'sans-serif';
  color: #3a3a3a;
  line-height: 1.5em; }

a {
  font-family: Serif;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-rendering: optimizeLegibility;
  cursor: pointer; }

a:hover {
  text-decoration: none; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none; }

h3, h2 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
  font-size: 14px;
  color: #3a3a3a;
  text-transform: uppercase;
  letter-spacing: 3px; }

h1 {
  font-family: serif;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: 0;
  text-transform: none;
  line-height: 1.3;
  font-size: 25px;
  margin: 0;
  color: #861C1C;
  padding: 0 0 0 0;
  text-rendering: optimizeLegibility; }

h4 {
  font-size: 30px;
  font-family: 'Squada One', cursive;
  margin-bottom: 15px;
  text-align: center;

}




.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  float: right;
  z-index: 10;}

.navigation a {
  height: 40px;
  font-family: 'PT Sans Narrow', 'sans-serif'; 
  font-size: 14px;
  padding: 30px;
  color: #fff;
  text-decoration: none;
  }

.navigation a:hover {
  color: rgba(236, 203, 203, 0.7);
  transition: 1s;
}

#rose {
  background-image: url('images/rose.png');
  background-position: center;
  background-repeat:  no-repeat;
  float: left;
  margin: 0px 0px 0px 20px;
  width: 30px;
  height: 30px;
  display: inline-block;
}



#right-nav {
  float:right;
}




.intro-two-full {
  width: 100%;
  margin-top: 40px;
  background-color: transparent;
}

.intro-two-container {
  width: 78%;
  margin: 0 auto;
  position: relative;
  top: 10%;
  padding: 5% 0;
  border-top: 1px solid #E0E0E0;
  }



.three-square {
  background-color: #fff;
  width: 330px;
  height: 320px;
  float: left;
  margin: 20px;
}



#blog-pic1 {
  width: 330px;
  height: 270px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("images/gitpic.png");
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("images/gitpic.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 5px;
}

#blog-pic1:hover {
  opacity: .7;
  cursor: pointer;
}



#mini-banner {
  width: 222px;
  height: 20px;
  background-color: rgba(160, 53, 53, 1);
  font-size: 16px;
  color: #fff;
  padding-bottom: 5px;
  letter-spacing: .2em;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  position: relative;
  display: none;
  top: 50%;
}


#blog-pic2 {
  width: 330px;
  height: 270px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)), url("images/passionpic.png");
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.50)), url("images/passionpic.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 5px;

}

#blog-pic2:hover {
  opacity:.7;
  cursor: pointer;
}

#blog-descrip {
  padding: 10px;
  width: 310px;
  height: 45px;
  background-color: rgba(124, 124, 124, 1);
}



#blog-title {
  color: #fff;
  font-size: 20px;
}

#blog-date {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

#slap-button {
  width: 330px;
  height: 20px;
  border: 0px #fff solid;
  background-color: rgba(236, 203, 203, 1);
  color: #fff;  
  font-size: 16px;
  padding-bottom: 5px;
  letter-spacing: .2em;
  text-align: center;
  text-transform: uppercase;
}


.work-page-container {
  height: 1200px;
  width: 100%;
  position: relative;
  margin-top: 50px;
  overflow: auto;
}

.work-gray-bg {
  background-color: rgba(240, 240, 240, 1);
  width: 100%;
}


.work-pic1 {
  width: 330px;
  height: 270px;
  background-image: url("images/passionpic.png");
  background-image: url("images/passionpic.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
  margin: 60px 70px 0px 0px;
  border: 3px solid #fff;


}

.work-white-bg {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;

}

.work-pic2 {
  width: 330px;
  height: 270px;
  background-image: url("images/teach4real.png");
  background-image: url("images/teach4real.png");
  background-position: center right;
  background-repeat: no-repeat;
  float: right;
  margin: 60px 0px 70px 70px;
  border: 3px solid #E0E0E0;



}


.work-pic3 {
  width: 330px;
  height: 270px;
  background-image: url("images/edX.jpg");
  background-image: url("images/edX.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  float: left;
  margin: 60px 70px 50px 0px;
  border: 3px solid #fff;


}


.work-text {
  width: 480px;
  height: 220px;
  font-size: 20px;
  position: relative;
  margin: 70px 0px auto;
  float: left;
}

#work-title {
  font-family: ;
  font-size: 30px;
  width: 420px;
  font-weight: bold;
  color: rgba(58, 58, 58, 0.9);
  font-family:  'Squada One', cursive;
  padding-bottom: 20px;
}

.work-container {
  width: 900px;
  height: 400px;
  position: relative;
  margin: auto;
}



#visit-button {
  width: 150px;
  height: 30px;
  background-color: rgba(236, 203, 203, 1);
  color: #fff;
  position: relative;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 16px;
  padding-top: 5px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10%;
  font-weight: bolder;

}

#visit-button a {
  color: #fff;
  font-family:  'Open Sans Condensed', 'sans-serif';
  font-size: 16px;


}

#visit-button:hover {
  background-color: rgba(34, 34, 34, 1);
  transition: 1s;
}

.aboutme-header {
  padding-top: 100px;
  margin:auto;
  height: 50px;
  width: 100%;
  font-size: 50px;
  font-family: 'Open Sans Condensed', 'sans-serif';
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

}

.aboutme-box {
  margin-left: 15%;
  padding-top: 100px;
  height: 300px;
  width: 440px;
}

#about-title {
  color: rgba(236, 203, 203, 0.7);
  width: 400px;
  font-size: 40px;
  font-family: 'Squada One', cursive;
  text-shadow: 1px 1px #000;
  height: 40px;
  position: relative;
  border-bottom: 1px dotted #888;
}

.about-me {
  width: 100%;
  height: 400px;
  position: relative;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("images/intro-photo.jpg");
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("images/intro-photo.jpg");
  background-size: 100%;
}

.about-me-alt {
  width: 100%;
  position: relative;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("images/intro-photo.jpg");
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("images/intro-photo.jpg");
  display: none; 
}



.aboutme-text {
  padding: 10px 0px;
  width: 100%;
  color: #fff;
  height: 200px;
  font-size: 18px;
  line-height: 1.5em;
  float: left;
  font-family: 'Source Sans Pro', sans-serif;

}

#q7-contentarea {
  width: 100%;
  padding-bottom: 50px;
  background: rgba(240, 240, 240, 1);
  position: relative;]
}

.blog-nav {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.blog-nav a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 16px;
  font-weight: bolder;
  font-family: 'Open Sans Condensed', 'sans-serif';


}

#blog-button {
  width: 150px;
  height: 30px;
  margin: 10px 0px 5px 5px;
  background-color: #BF5858;
  position: relative;
  padding-top: 5px;
  text-align: center;
  border-radius: 5%;
  display: inline-block;
}

#blog-button:hover {
  background-color: #747474;
  transition: .5s;
}



#all-posts {
  padding-top: 100px;
  margin: 0 auto;
  width: 70%;
  position: relative;
}

.post {
    margin: 20px 0;
    width: 90%;
    padding: 5%;
    background:white;

}

.post_category {
    width: 120px;
    font-size: 16px;
    color: #BF5858;
    padding: 2px 10px;
    background-color: rgba(240, 240, 240, 1);
    float: right;
    text-align: center;
    border-radius: 15px;
}

.post_title {
    font-size: 30px;
    color: #747474;
    font-weight: bold;
    padding: 10px 0;
}

.post_date {
    border-bottom: 1px solid #DDD;
    font-weight: bold;
    padding: 10px 0;

}

.post_content {
    line-height: 25px;
    font-size: 18px;
    padding: 10px 0;
    font-family: 'Source Sans Pro', sans-serif;

}


.music-img {

  height: 440px;
  width: 1460px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("images/superb.jpg");
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("images/superb.jpg");

}

#music-title {
  color: rgba(236, 203, 203, 0.7);
  width: 100%;
  font-size: 50px;
  font-family: 'Squada One', cursive;
  text-shadow: 1px 1px #000;
  height: 40px;
  position: relative;
  border-bottom: 1px dotted #888;
  max-width: 100%;

}

.music-box {
  margin: auto;
  padding-top: 100px;
  position: relative;
  height: 50%;
  width: 75%;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;

}

.music-col {
  height: 80%;
  width: 45%;
  padding: 20px;
  position: relative;
  display: inline-block;
  float: left;
}
.music-header {
  padding-top: 100px;
  position: relative;
  margin:auto;
  height: 80px;
  width: 960px;
  max-width: 960px;
  font-size: 70px;
  font-family: 'Open Sans Condensed', 'sans-serif';
  text-align: left;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.25);


}

.img-scaled {
width: 100%;
}


.music-text {
  padding-top: 50px;
  margin:auto;
  width: 960px;
  font-size: 20px;
  color:#8A8181;
  text-align: left;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.25);
  padding-bottom: 50px;
  max-width: 100%;
}

.sort-by-year {
  padding: 50px 70px;
  margin:auto;
  font-size: 40px;
  height: 40px;
  width: 960px;
  font-family: 'PT Sans Narrow', 'sans-serif';
  text-align: right;
  max-width: 100%;

}



#slash {
  display: inline-block;
  color: rgba(236, 203, 203, 1);
}

#my-concerts {
  float: left;
}

.2014-container {
  height: 900px;
  width: 100%;
  max-width: 100%;
  background-color: rgba(236, 203, 203, 1);
  position: relative;
}

.2013-container {
  height: 1100px;
  width: 100%;
  position: relative;
  max-width: 100%;

}

#year-bar {
  width: 960;
  height: 20px;
  background-color: rgba(236, 203, 203, 1);
  font-size: 20px;
  color: #fff;
  text-align: left;
  padding: 5px;
  margin: auto;
  max-width: 100%;

}

#album-pic {
  height: 220px;
  width: 220px;
  border: 1px #000 solid;
  box-shadow: 2px 2px 1px #888888;

}

#album-pic:hover {
  opacity: .4;
  cursor: pointer;
}

.four-square {
  padding-right: 20px;
  width: 220px;
  height: 300px;
  position: relative;
  z-index: 1;
  float: left;
}


.row1 {
  padding: 30px 50px;
  width: 960;
  height: 300px;
  margin: 0 auto;
  max-width: 960px;

}

#info1 {
  padding: 30px 20px;
  width: 960px;
  height: 200px;
  margin: 0 auto;
  display: none;
  max-width: 960px;

}

#item1 {
 width: 220px;
height: 300px;
float: left;
overflow: hidden;
padding-right: 20px; }

#item2 {
 width: 220px;
height: 300px;
float: left;
overflow: hidden;

padding-right: 20px;  
}

#item3 {
 width: 220px;
height: 300px;
float: left;
padding-right: 20px;  
}

#item4 {
 width: 220px;
height: 300px;
float: left;
padding-right: 20px;  
}

.row2 {
  padding: 30px 50px;
  width: 960;
  height: 300px;
  margin: 0 auto;
  max-width: 960px;

}

#info2 {

  padding: 30px 20px;
  height: 200px;
  width: 960;
  margin: 0 auto;
  display: none;
  max-width: 960px;

}

.row3 {
  padding: 30px 50px;
  width: 960;
  height: 300px;
  margin: 0 auto;
  max-width: 960px;

}

.row4 {
  width: 960;
  height: 300px;
  margin: 0 auto;
  max-width: 960px;

}

.row5 {
  width: 960;
  height: 300px;
  margin: 0 auto;
  max-width: 960px;

}

#review {
  width: 490px;
  margin-bottom: 20px;
  padding: 15px 0px;
  font-size: 30px;
  border-bottom: 1px dotted #000;
}

.review {
  width: 500px;
  height: 100%;
  float: left;
}

#fav-tracks {
  width: 300px;
  padding: 15px;
  font-size: 30px;
  border-bottom: 1px dotted #000;
}


.track-list {
  padding-left: 10px;
  border-left: 1px dotted #000;
  color: rgba(145, 114, 114, 1);
  background-color: #F1F1F1;
  width: 350px;
  height: 100%;
  float: left;

}


#concert-title {
  width: 220px;
  height: 40px;
  color: #000;
  padding-bottom: 10px;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  font-family:  'Open Sans Condensed', 'sans-serif';
}


.music-icons {
  width: 270px;
  height: 120px;
  position: relative;
  top: -20px;
  float:right;
  
}

.music-icons img {
  width: 60px;
  height: 60px;
  padding: 10px;
  opacity: .5;
  background-color: rgba(145, 114, 114, 1);
  border-radius: 80%;
}

.music-icons img:hover {
  opacity: 1;

}


footer {
   background: rgba(240, 240, 240, 1);
   color: rgb(111, 111, 111);
   font-size: 16px;
}

footer a {
  font-family: inherit;
  color: inherit;
}

footer a:hover {
  color: rgba(199, 145, 145, 1);
  transition: .5s;
}



footer li a {
  text-transform: none;
  color: rgb(111, 111, 111);
  font-size: 16px;
  font-family: inherit;
}

footer #arrow {
  color: rgba(199, 145, 145, 1);
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
}

footer .container {
  width: 92%;
  margin: auto;
  padding-bottom: 10px;
}

footer .three-square {
  width: 400px;
  background: transparent;

}

footer .ss-icon {
  margin: 5px;
  color: rgb(175, 175, 175);
  font-size: 40px;

  }

footer .icon-div {
  width: 275px;
  margin: 0 auto;
}

footer .ss-icon a {
  text-align: right;
  display: block;
  text-transform: none;
}

footer .ss-icon:hover {
  color: rgba(199, 145, 145, 1);
  transition: .5s; }




.copyright {
  padding: 40px 0px;
  text-align: center;
  width: 75%;
  border-top: 1px #D5D5D5 solid;
  color: #000;
  margin: 0 auto;
}

.clear {
  clear: both;
}


/* Landscape phone to portrait tablet */
@media (max-width: 481px) {

  .navigation a {
  padding: 10px;
  
  }


  .about-me {
    width: 100%;
    height: 300px;
    background: none; 
    top: -130px;}

  .about-me-alt {
    height: 200px;
    display: inline-block;
    background-size: 135%;
  }

  .aboutme-box {
    width: 100%;
    margin: 0 auto;
  }

  #about-title {
    font-size: 40px;
    width: 100%;
  }

  .aboutme-text {
    width: 90%;
    font-size: 20px;
    padding: 20px;
    color: #000; 

  }


  .work-text {
    width: 90%;
  }

  #work-title {
    width: 90%;
  }

  .work-container {
    width: 90%;
  }

  .work-page-container {
    width: 100%;
  }

  .work-white-bg {
    width: 100%;
  }

  .work-gray-bg {
    width: 100%;
  }

  .work-pic1 {
    display: none;

  }

  .work-pic2 {
    display: none;
  }

  .work-pic3 {
    display: none;
  }

  #all-posts {
    width: 100%;
  }

  .post {
    width: 360px;
  }

  #all-posts {
    padding-top: 50px;
  }

  .intro-two-container {
    display: none;
  }


  footer .container {
    width: 100%;
  }

  footer .three-square {
    width: 90%;
  }












  


}
