html, body {
  padding: 0;
  margin: 0; }

body {
  font-size: 18px;
  font-family:  'Open Sans Condensed', 'sans-serif';
  color: #3a3a3a;
  line-height: 1.5em; }

a {
  font-family: Serif;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-rendering: optimizeLegibility;
  cursor: pointer; }

a:hover {
  text-decoration: none; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none; }

h3, h2 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
  font-size: 14px;
  color: #3a3a3a;
  text-transform: uppercase;
  letter-spacing: 3px; }

h1 {
  font-family: serif;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: 0;
  text-transform: none;
  line-height: 1.3;
  font-size: 25px;
  margin: 0;
  color: #861C1C;
  padding: 0 0 0 0;
  text-rendering: optimizeLegibility; }




.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  float: right;
  z-index: 10;}

.navigation a {
  height: 40px;
  font-family: 'PT Sans Narrow', 'sans-serif'; 
  font-size: 14px;
  padding: 30px;
  color: #fff;
  text-decoration: none;
  }

.navigation a:hover {
  color: rgba(236, 203, 203, 0.7);
  transition: 1s;
}

#rose {
  background-image: url('rose.png');
  background-position: center;
  background-repeat:  no-repeat;
  float: left;
  margin: 0px 0px 0px 20px;
  width: 30px;
  height: 30px;
  display: inline-block;
}



#right-nav {
  float:right;
}




nav {
  clear: both;
  padding: 20px;
  overflow: hidden;
  width: 270px;
  height: 80px;
  position: relative;
  top:40px;
  margin: 0 auto;
  text-align: center; }

nav a {
  width: 270px;
  text-align: center;
  display: block;
  float: left;
  width: 90px;
  text-transform: none;
  text-align: center;
  font-size: 70px;
  padding-top: 15px;
  color: #3a3a3a; }

nav .ss-icon {
  margin: 10px auto;
  color: #3a3a3a;
  font-size: 70px;
  text-align: center; }

nav .ss-icon:hover {
  color: rgba(145, 114, 114, 1);
  transition: .5s; }



.intro-two-full {
  width: 100%;
  height: 450px;
  margin: 0 auto;
  padding-bottom: 50px;
  background-color: #000;
}

.intro-two-container {
  width: 1110px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  top: 10%;
  padding: 40px 0px;
  border-top: 1px solid #E0E0E0;
}

.three-square {
  background-color: #fff;
  width: 330px;
  height: 320px;
  float: left;
  margin: 20px;
}

#blog-pic1 {
  width: 330px;
  height: 270px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("gitpic.png");
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("gitpic.png");
  background-position: center right;
  background-repeat: no-repeat;
  margin-bottom: 5px;
}

#blog-pic1:hover {
  opacity: .5;
  cursor: pointer;
}



#mini-banner {
  width: 222px;
  height: 20px;
  background-color: rgba(14, 8, 8, 0.7);
  font-size: 16px;
  color: #fff;
  padding-bottom: 5px;
  letter-spacing: .2em;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  position: relative;
  display: none;
  top: 50%;
}


#blog-pic2 {
  width: 330px;
  height: 270px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)), url("passionpic.png");
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.50)), url("passionpic.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 5px;

}

#blog-pic2:hover {
  opacity:.5;
  cursor: pointer;
}

#blog-descrip {
  padding: 10px;
  width: 310px;
  height: 45px;
  background-color: rgba(124, 124, 124, 1);
}



#blog-title {
  color: #fff;
  font-size: 20px;
}

#blog-date {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

#slap-button {
  width: 330px;
  height: 20px;
  border: 0px #fff solid;
  background-color: rgba(236, 203, 203, 1);
  color: #fff;  
  font-size: 16px;
  padding-bottom: 5px;
  letter-spacing: .2em;
  text-align: center;
  text-transform: uppercase;
}


.work-page-container {
  height: 1200px;
  width: 100%;
  position: relative;
  margin-top: 50px;
}

.work-gray-bg {
  background-color: rgba(240, 240, 240, 1);
  width: 100%;
  height: 400px;
}


.work-pic1 {
  width: 330px;
  height: 270px;
  background-image: url("passionpic.png");
  background-image: url("passionpic.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
  margin: 60px 70px 0px 0px;
  border: 3px solid #fff;


}

.work-white-bg {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 400px;

}

.work-pic2 {
  width: 330px;
  height: 270px;
  background-image: url("teach4real.png");
  background-image: url("teach4real.png");
  background-position: center right;
  background-repeat: no-repeat;
  float: right;
  margin: 60px 0px 70px 70px;
  border: 3px solid #E0E0E0;



}


.work-pic3 {
  width: 330px;
  height: 270px;
  background-image: url("edX.jpg");
  background-image: url("edX.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  float: left;
  margin: 60px 70px 50px 0px;
  border: 3px solid #fff;


}


.work-text {
  width: 480px;
  height: 220px;
  font-size: 20px;
  position: relative;
  margin: 70px 0px auto;
  float: left;
}

#work-title {
  font-family: ;
  font-size: 30px;
  width: 420px;
  font-weight: bold;
  color: rgba(58, 58, 58, 0.9);
  font-family:  'Squada One', cursive;
  padding-bottom: 20px;
}

.work-container {
  width: 900px;
  height: 400px;
  position: relative;
  margin: auto;
}



#visit-button {
  width: 150px;
  height: 30px;
  background-color: rgba(236, 203, 203, 1);
  color: #fff;
  position: relative;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 16px;
  padding-top: 5px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10%;
  font-weight: bolder;

}

#visit-button a {
  color: #fff;
  font-family:  'Open Sans Condensed', 'sans-serif';
  font-size: 16px;


}

#visit-button:hover {
  background-color: rgba(34, 34, 34, 1);
  transition: 1s;
}

.aboutme-header {
  padding-top: 100px;
  margin:auto;
  height: 50px;
  width: 100%;
  font-size: 50px;
  font-family: 'Open Sans Condensed', 'sans-serif';
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

}

.aboutme-box {
  margin-left: 300px;
  padding-top: 100px;
  height: 250px;
  width: 450px;
}

#about-title {
  color: rgba(236, 203, 203, 0.7);
  width: 400px;
  font-size: 40px;
  font-family: 'Squada One', cursive;
  text-shadow: 1px 1px #000;
  height: 40px;
  position: relative;
  border-bottom: 1px dotted #888;
}

.about-me {
  width: 100%;
  height: 440px;
  position: relative;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("intro-photo.jpg");
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("intro-photo.jpg");
}



.aboutme-text {
  padding: 10px 0px;
  width: 400px;
  color: #fff;
  height: 200px;
  font-size: 18px;
  line-height: 1.5em;
  float: left;
  font-family: 'Source Sans Pro', sans-serif;

}


.music-img {

  height: 440px;
  width: 1460px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("superb.jpg");
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("superb.jpg");

}

#music-title {
  color: rgba(236, 203, 203, 0.7);
  width: 100%;
  font-size: 50px;
  font-family: 'Squada One', cursive;
  text-shadow: 1px 1px #000;
  height: 40px;
  position: relative;
  border-bottom: 1px dotted #888;
  max-width: 100%;

}

.music-box {
  margin: auto;
  padding-top: 100px;
  position: relative;
  height: 50%;
  width: 75%;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;

}

.music-col {
  height: 80%;
  width: 45%;
  padding: 20px;
  position: relative;
  display: inline-block;
  float: left;
}
.music-header {
  padding-top: 100px;
  position: relative;
  margin:auto;
  height: 80px;
  width: 960px;
  max-width: 960px;
  font-size: 70px;
  font-family: 'Open Sans Condensed', 'sans-serif';
  text-align: left;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.25);


}

.img-scaled {
width: 100%;
}


.music-text {
  padding-top: 50px;
  margin:auto;
  width: 960px;
  font-size: 20px;
  color:#8A8181;
  text-align: left;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.25);
  padding-bottom: 50px;
  max-width: 100%;
}

.sort-by-year {
  padding: 50px 70px;
  margin:auto;
  font-size: 40px;
  height: 40px;
  width: 960px;
  font-family: 'PT Sans Narrow', 'sans-serif';
  text-align: right;
  max-width: 100%;

}



#slash {
  display: inline-block;
  color: rgba(236, 203, 203, 1);
}

#my-concerts {
  float: left;
}

.2014-container {
  height: 900px;
  width: 100%;
  max-width: 100%;
  background-color: rgba(236, 203, 203, 1);
  position: relative;
}

.2013-container {
  height: 1100px;
  width: 100%;
  position: relative;
  max-width: 100%;

}

#year-bar {
  width: 960;
  height: 20px;
  background-color: rgba(236, 203, 203, 1);
  font-size: 20px;
  color: #fff;
  text-align: left;
  padding: 5px;
  margin: auto;
  max-width: 100%;

}

#album-pic {
  height: 220px;
  width: 220px;
  border: 1px #000 solid;
  box-shadow: 2px 2px 1px #888888;

}

#album-pic:hover {
  opacity: .4;
  cursor: pointer;
}

.four-square {
  padding-right: 20px;
  width: 220px;
  height: 300px;
  position: relative;
  z-index: 1;
  float: left;
}


.row1 {
  padding: 30px 50px;
  width: 960;
  height: 300px;
  margin: 0 auto;
  max-width: 960px;

}

#info1 {
  padding: 30px 20px;
  width: 960px;
  height: 200px;
  margin: 0 auto;
  display: none;
  max-width: 960px;

}

#item1 {
 width: 220px;
height: 300px;
float: left;
overflow: hidden;
padding-right: 20px; }

#item2 {
 width: 220px;
height: 300px;
float: left;
overflow: hidden;

padding-right: 20px;  
}

#item3 {
 width: 220px;
height: 300px;
float: left;
padding-right: 20px;  
}

#item4 {
 width: 220px;
height: 300px;
float: left;
padding-right: 20px;  
}

.row2 {
  padding: 30px 50px;
  width: 960;
  height: 300px;
  margin: 0 auto;
  max-width: 960px;

}

#info2 {

  padding: 30px 20px;
  height: 200px;
  width: 960;
  margin: 0 auto;
  display: none;
  max-width: 960px;

}

.row3 {
  padding: 30px 50px;
  width: 960;
  height: 300px;
  margin: 0 auto;
  max-width: 960px;

}

.row4 {
  width: 960;
  height: 300px;
  margin: 0 auto;
  max-width: 960px;

}

.row5 {
  width: 960;
  height: 300px;
  margin: 0 auto;
  max-width: 960px;

}

#review {
  width: 490px;
  margin-bottom: 20px;
  padding: 15px 0px;
  font-size: 30px;
  border-bottom: 1px dotted #000;
}

.review {
  width: 500px;
  height: 100%;
  float: left;
}

#fav-tracks {
  width: 300px;
  padding: 15px;
  font-size: 30px;
  border-bottom: 1px dotted #000;
}


.track-list {
  padding-left: 10px;
  border-left: 1px dotted #000;
  color: rgba(145, 114, 114, 1);
  background-color: #F1F1F1;
  width: 350px;
  height: 100%;
  float: left;

}


#concert-title {
  width: 220px;
  height: 40px;
  color: #000;
  padding-bottom: 10px;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  font-family:  'Open Sans Condensed', 'sans-serif';
}


.music-icons {
  width: 270px;
  height: 120px;
  position: relative;
  top: -20px;
  float:right;
  
}

.music-icons img {
  width: 60px;
  height: 60px;
  padding: 10px;
  opacity: .5;
  background-color: rgba(145, 114, 114, 1);
  border-radius: 80%;
}

.music-icons img:hover {
  opacity: 1;

}


/* ###### White / Pink #########*/
.white-pink {
    margin-top: 100px;
    width: 550px;
    margin-right: auto;
    margin-left: auto;
    background: #FFF;
    padding:50px 50px 20px 50px;
    box-shadow:rgba(122, 122, 122, 0.7) 0 3px 10px -1px;
    -webkit-box-shadow:rgba(122, 122, 122, 0.7) 0 3px 10px -1px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
}
.white-pink h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #F5F5F5;
    margin: -10px -30px 10px -30px;
    color: #969696;
}
.white-pink h1>span {
    display: block;
    font-size: 11px;
    color: #C4C2C2;
}
.white-pink label {
    display: block;
    margin: 0px 0px 20px;
}
.white-pink label>span {
    float: left;
    width: 80px;
    text-align: right;
    padding-right: 50px;
    margin-top: 10px;
    color: #969696;
}
.white-pink input[type="text"], .white-pink input[type="email"], .white-pink textarea,.white-pink select{
    color: #555;
    width: 70%;
    padding: 3px 3px 3px 8px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    font: normal 12px/24px Arial, Helvetica, sans-serif;
}
.white-pink textarea{
    height:100px;
}
.white-pink .button {
    -moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    box-shadow:inset 0px 1px 0px 0px #fbafe3;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d) );
    background:-moz-linear-gradient( center top, #ff5bb0 5%, #ef027d 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d');
    background-color:#ff5bb0;
    border-radius:9px;
    -webkit-border-radius:9px;
    -moz-border-border-radius:9px;
    border:1px solid #ee1eb5;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:30px;
    line-height:28px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #c70067;
}
.white-pink .button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0) );
    background:-moz-linear-gradient( center top, #ef027d 5%, #ff5bb0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0');
    background-color:#ef027d;
}
.white-pink .button:active {
    position:relative;
    top:1px;
}
.white-pink select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   appearance:none;
    -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
}


/* Landscape phone to portrait tablet */
@media (max-width: 481px) {

  .navigation a {
  padding: 10px;
  
  }

  .about-me {
    width: 481px;
    height: 400px;
    background-image: none;  }

  .aboutme-box {
    padding-top: 50px;
    margin-left: 40px;
  }


  #my-name {
    font-size: 40px;
  }

  .aboutme-text {
    font-size: 20px;
    color: #000; 
  }

  .intro-two-container {
    display: none;
  }


  .work-text {
    padding: 20px;
    width: 360px;
  }

  .work-container {
    width: 481px;
  }

  .work-white-bg {
    width: 481px;
  }

  .work-gray-bg {
    width: 481px;
  }

  .work-pic1 {
    display: none;

  }

  .work-pic2 {
    display: none;
  }

  .work-pic3 {
    display: none;
  }


  


}
