@font-face {
  font-family: 'KaushanScript';
  src: url("/fonts/KaushanScript-Regular.ttf"); }

html, body {
  padding: 0;
  margin: 0; }

body {
  font: 16px/1 'Georgia';
  color: #3a3a3a;
  background: #7C6E6E; }

a {
  font-family: Georgia;
  font-weight: normal;
  font-size: 14px;
  color: #3a3a3a;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-rendering: optimizeLegibility;
  cursor: pointer; }

a:hover {
  text-decoration: none; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none; }

h3, h2 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
  font-size: 14px;
  color: #3a3a3a;
  text-transform: uppercase;
  letter-spacing: 3px; }

h1 {
  font-family: Serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  line-height: 1.3;
  font-size: 28px;
  margin: 0;
  color: #861C1C;
  padding: 0 0 0 0;
  text-rendering: optimizeLegibility; }

.canvas {
  width: 900px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #3a3a3a; }

.container1 {
  width: 900px;
  margin: 0px auto 0px auto;
  background-color: #fff;
  clear: both;
  overflow: hidden; }

.container2 {
  width: 820px;
  padding: 40px;
  margin: 30px auto 30px auto;
  background-color: #fff;
  border-top: 5px double #DBD9D9;
  border-bottom: 5px double #DBD9D9;
  clear: both;
  overflow: hidden; }

.sidebar {
  width: 275px;
  margin-right: 25px;
  float: left; }

.sidebar .avatar {
  display: block;
  margin-left: 20px;
  width: 200px;
  height: 250px;
  background-image: url("/Images/Selfie.png");
  background-size: 350px auto;
  background-position: top center;
  background-repeat: no-repeat;
  border-top: 3px solid #000;
  border-radius: 10px; }

.sidebar h3 {
  margin-top: 25px;
  color: #861C1C;
  text-decoration: bold; }

nav {
  clear: both;
  padding: 30px;
  overflow: hidden;
  width: 540px;
  margin: 0 auto;
  text-align: center; }

nav a {
  width: 180px;
  text-align: center;
  display: block;
  float: left; }

nav span {
  display: block;
  width: 180px;
  text-transform: none;
  font-size: 12px;
  text-align: center; }

nav .ss-icon {
  color: #3a3a3a;
  font-size: 40px;
  text-align: center; }

nav .ss-icon:hover {
  transition: .7s;
  color: #861C1C; }

.content {
  width: 625px;
  padding: 0 0 0 0px;
  float: right; }

.nav1 {
  float: left;
  padding: 100px 0 0 0;
  width: 320px; }

.nav1 li {
  float: left;
  margin: 0 auto; }

.alt-image {
  display: none; }

.nav1 li a {
  padding: 10px;
  text-transform: uppercase;
  font-family: impact;
  letter-spacing: 0.4em;
  font-size: 20px;
  color: #000; }

.nav1 li a:hover {
  color: #861C1C;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.nav2 {
  float: right;
  padding: 100px 0 0 0;
  width: 320px; }

.nav2 li {
  float: right;
  margin: 0 auto; }

.nav2 li a {
  padding: 10px;
  font-family: Impact;
  letter-spacing: 0.4em;
  font-size: 20px;
  color: #000; }

.nav2 li a:hover {
  text-decoration: none;
  color: #861C1C;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.posts, .post {
  margin-top: 0;
  width: 500px;
  float: right; }

.posts h2, .post h2 {
  margin-bottom: 14px; }

.posts h1 a, .post h1 a {
  display: block;
  font-family: Serif;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  line-height: 1.3;
  font-size: 30px;
  margin: 0;
  color: #861C1C;
  padding: 0 0 0 0;
  text-rendering: optimizeLegibility; }

.posts li, .post li {
  margin: 0 0 0 0; }

.posts .continue-reading, .post .continue-reading {
  display: block;
  text-transform: none;
  letter-spacing: 0;
  font-size: 44px;
  color: #535357; }

.posts strong, .post strong {
  font-weight: 600; }

/* Landscape phone to portrait tablet */
@media (max-width: 481px) {
  body {
    margin: 0 auto; }

  a h1 {
    font-size: 24px;
    color: #861C1C; }

  .canvas {
    width: 100%;
    box-sizing: border-box;
    padding: 0; }

  .container1 {
    width: 100%;
    max-width: 481px;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #fff;
    clear: both; }

  .container2 {
    width: 100%;
    box-sizing: border-box;
    max-width: 481px;
    margin: 0 auto;
    background-color: #fff; }

  .posts {
    width: 100%; }

  .sidebar {
    width: 100%; }

  .content {
    width: 80%; }

  .nav1 {
    width: 100px;
    padding-top: 40px; }
    .nav1 li a {
      width: 100px;
      padding: 0;
      display: block;
      font-size: 13px;
      line-height: 1.7em;
      text-align: center; }

  .nav2 {
    width: 100px;
    padding-top: 40px; }
    .nav2 li a {
      width: 100px;
      padding: 0;
      line-height: 1.7em;
      display: block;
      font-size: 13px;
      text-align: center; }

  .desktop-image {
    display: none; }

  .img-container {
    width: 115px;
    margin: 0 auto; }

  .alt-image {
    display: inline-block;
    width: 115px;
    padding-bottom: 20px; }

  nav {
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: 10px; }
    nav a {
      display: block;
      float: left;
      width: 40px;
      padding: 5px; }
      nav a .ss-icon {
        font-size: 40px;
        width: 40px;
        display: block; }
        nav a .ss-icon span {
          display: none; } }
