.music-container {
  width: 75%;
  position: relative;
  margin: 0 auto;
}


.year-nav-wrapper {
  position: relative;
  width: 99%;
  float: left;
}

.years {
    position: relative;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    height: 42px;
   }

.year-tab {
    display: inline-block;
    padding: 5px 20px;
    float: right;
    width: 80px;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 2px;

}
.selected-year-tab {
    border-bottom: 5px outset red;
}

    .wrap {
      overflow: hidden;
      margin: 10px;
      width: 100%;
      float: right;
    }
    .box {
      float: left;
      position: relative;
      width: 20%;
      padding-bottom: 20%;
    }
    .box-inner {
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      border-radius: 2px;
      overflow: hidden;
    }
    .box-inner img {
      width: 100%;
      height: 100%;
      position: absolute;  
      left: 0;  
      -webkit-transition: all 300ms ease-out;  
      -moz-transition: all 300ms ease-out;  
      -o-transition: all 300ms ease-out;  
      -ms-transition: all 300ms ease-out;  
      transition: all 300ms ease-out;  
    }

    .box-inner .caption {  
      background-color: rgba(0,0,0,0.8);  
      position: absolute;  
      color: #fff;  
      z-index: 100;  
      -webkit-transition: all 300ms ease-out;  
      -moz-transition: all 300ms ease-out;  
      -o-transition: all 300ms ease-out;  
      -ms-transition: all 300ms ease-out;  
      transition: all 300ms ease-out;  
      left: 0;  
    }  
    .box-inner .fade-caption {  
      opacity: 0;  
      width: 90%;  
      height: 90%;  
      text-align: left;  
      padding: 15px;  
    }  

    .box:hover .fade-caption {  
      opacity: 1;  
    }  

    .box h3 {
      color: #e52f26;
      text-align: center;
    }

.music-text {
  margin:auto;
  width: 960px;
  font-size: 20px;
  color:#4D4D4D;
  text-align: left;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  max-width: 90%;
  text-align: center;
}
    .music-icons {
  padding-top: 30px;
  width: 270px;
  height: 120px;
  position: relative;
  margin:auto;
  
}

.music-icons img {
  width: 60px;
  height: 60px;
  padding: 10px;
  opacity: .5;
  background-color: rgba(187, 187, 187, 1);
  border-radius: 80%;
}

.music-icons img:hover {
  opacity: 1;

}






    body.no-touch .box-inner:hover .title-box, body.touch .box-inner.touch-focus .title-box {
      margin-bottom: 0;
    }
    @media only screen and (max-width : 480px) {
      /* Smartphone view: 1 tile */
      .box {
        width: 100%;
        padding-bottom: 100%;
      }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
      /* Tablet view: 2 tiles */
      .box {
        width: 50%;
        padding-bottom: 50%;
      }
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
      /* Small desktop / ipad view: 3 tiles */
      .box {
        width: 33.3%;
        padding-bottom: 33.3%;
      }
    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
      /* Medium desktop: 4 tiles */
      .box {
        width: 25%;
        padding-bottom: 25%;
      }
    }